input,select{
  border: 0px;
  border-bottom: 1px solid grey;
  margin: 15px;
  width: 90%;
}

.form-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header{
  text-align: center;
  font-size: x-large;
  font-weight: 500;
  margin: 20px 10px 30px 20px;
}

button{
  width: 90%;
  margin: 15px;
  background-color: rgb(248, 230, 248);
  color: darkorchid;
}

.form-group{
  align-items: center;
  width: 100%;
  text-align: center;
}

#option{
  color: grey;
}